/*Chucho*/

/*Giovanni*/

/*Oswaldo*/
.color-row {
  color: #ffffff;
  background-color: #208774;
  margin: 0;
  min-height: 5rem;
}

.marca {
  font-family: "Montserrat-T";
  font-size: 2rem;
}

.sloga1 {
  font-family: "Montserrat-ST";
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
}

.btn-inicio-sesion {
  font-family: "DM-Sans-CT";
  color: #fff;
  border-color: white;
  border-width: 0.15rem;
  background: #208774;
}

.btn-registrate {
  font-family: "DM-Sans-CT";
  color: #fff;
  border-color: #be814f;
  border-width: 0.15rem;
  background: #be814f;
}

.sloga2 {
  font-family: "Montserrat-ST";
  min-height: 3.5rem;
  font-size: 1.6rem;
  color: #fff;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    rgba(32, 135, 116, 0.7),
    rgba(190, 129, 79, 0.7)
  );
  width: 100%;
}

/*Maitte*/

/*Erick*/

/*Alex*/

/* Alex */

.valores-card {
    background-color: #0B192C;
    border: 2px solid #D68F5B;
    border-radius: 12px;
    padding: 30px 25px;
    width: 280px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.valores-card h2 {
    color: #FFFFFF;
    font-size: 22px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 700;
}

.valor-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #D68F5B;
    border-radius: 10px;
    padding: 12px 20px;
    margin-bottom: 16px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.valor-item span {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
}


/*Fer*/

/*Luis*/

/*Leila*/
