/* Oswaldo */
.card-contactanos {
  background-color: #061f2f;
}
.text-contactanos {
  color: #ffffff;
  font-family: "Montserrat-T";
  font-size: 2rem;
}

/* Luis */

/* Gio  */

/* Erick */

/* Mai */

/* Alex */
