/* Paleta de colores */
:root {
  --color-blanco: #FFFFFF;
  --color-azul-pastel: #7AB8FF;
  --color-azul-profundo: #1A2A40;
  --color-morado: #8A3D9E;
  --color-rosa-dorado: #E6A8A1;
}

/*Oswaldo*/
/* estilo del menu de categorias */
.card-cttn {
  background-color: var(--color-azul-profundo);
  border-radius: 25px;
  width: 100%; 
  max-width: 80%;
  box-shadow: 18px -18px 2px 5px var(--color-rosa-dorado);
}

.text-cttn {
  font-size: 2.2rem;
  color: var(--color-blanco);
  font-family: "Montserrat-T";
}

/* Luis */
.form-ctn{
  background-color: var(--color-blanco);
  border-radius: 25px;
  color: var(--color-azul-profundo);
  margin: 2rem;
  padding: 1rem;
}

.form-logo{
  width: 30%;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* Gio  */
/* formato al modal de mensaje enviado */
.modal-custom {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 1000;
}

.contenido{
    background: linear-gradient(135deg, var(--color-azul-profundo), var(--color-azul-pastel));
    padding:25px;
    margin: 120px auto;
    width: 320px;
    border-radius: 15px;
    text-align: center;
    color: var(--color-morado);
    font-weight: bold;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    animation: aparecer 0.4s ease;
}

/* titulo con efecto */
.titulo{
    margin-bottom: 10px;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* animacion */
@keyframes aparecer{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* Gio  */

/* Erick */

/* Mai */

/* Alex */
