/* Fuente Montserrat para Títulos [Bold peso 700] */
@font-face {
  font-family: "Montserrat-T";
  src: url("../FONT/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}

/* Fuente Montserrat para Subtítulos [Semibold peso 600] */
@font-face {
  font-family: "Montserrat-ST";
  src: url("../FONT/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

/* Fuente DM Sans para cuerpo de texto [Regular peso 400] */
@font-face {
  font-family: "DM-Sans-CT";
  src: url("../FONT/DM_Sans/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
