/* Erick */

/* Fernando */

/* Oswaldo */
.sec-3-t {
  font-family: "Montserrat-T";
}
.sec-3-sb {
  font-family: "Montserrat";
}
.sec-3-ct {
  font-family: "DM Sans";
}

/* Giovani */

/* Alex */

/* Luis */

/* Josue */

/* Leila - Maitte */
