
/*Chucho*/

/*Giovanni*/

/*Oswaldo*/

/*Maitte*/

/*Erick*/
#colorBackmv{
    background-color: #061f2f;
    font-family: 'Montserrat';
}
#colorRaya{
    background-color: #BE814F;
}
/*Alex*/

/*Fer*/

/*Luis*/

/*Leila*/